/* HERO STYLING */
.hero {
    background-color: #feefde;
}
.hero-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 1.5rem;
}
.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info h4 {
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: #6b7280;
    font-weight: 400;
    margin-bottom: 10px;
}
.hero-info h1 {
    font-size: 3rem;
    line-height: 1;
    color: #6b7280;
    font-weight: 400;
    margin-bottom: 10px;
}
.hero-info p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #48494b;
}

.hero-btn-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.hero-btn-container a:nth-child(1) {
    background-color: rgb(5, 73, 5);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
.hero-btn-container a:nth-child(1):hover {
    background-color: rgba(5, 73, 5, 0.697);
}
.hero-btn-container a:nth-child(2) {
    background-color: transparent;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid rgb(5, 73, 5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hero-btn-container a:nth-child(2):hover {
    background-color: rgba(5, 73, 5, 0.697);
    color: white;
}
.hero-container img {
    height: 550px;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        text-align: center;
    }

    .hero-btn-container {
        justify-content: center;
    }

    .hero-info h4 {
        margin-top: 40px;
    }
}