.skills {
    padding: 3rem 0;
}
.skill-heading h2, .works {
    font-size: 2rem;
    line-height: 1;
    color: #6b7280;
    font-weight: 400;
    margin-bottom: 10px;
}

.skill-heading p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #48494b;
}
.skill-heading span {
    color: rgb(5, 73, 5);
    font-weight: 700;
}

.skill-boxes {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-row: repeat(2);
    gap: 30px;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 2px;
}



.skill-box {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
    padding: 30px;
    cursor: pointer;
    transition: transform 0.3s ;
}
.skill-box:hover {
    transform: scale(1.08);
}
.skill-box ion-icon {
    font-size: 3rem;
    
}

.skill-box h3 {
    font-weight: 400;
    color: #6b7280;
    margin-bottom: 5px;
}
.skill-box p {
    font-weight: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #48494b;
}
.scrolling-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.skill-boxes {
    display: inline-flex;
    animation: scroll-left 40s linear infinite;
    animation-play-state: running;
}

.skill-boxes:hover {
    animation-play-state: paused; 
}

@keyframes scroll-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.skill-box {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}

.skill-box:hover {
    transform: scale(1.08); 
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .skill-boxes {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}



